{% extends '../base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'object/style.css' %}">
{% endblock %}

{% block content %}

    <div class="container clearfix" id="csrf_token_val" >
        {% csrf_token %}
        <div class="left_side clearfix">
            <div class="info clearfix">
                <div class="image_block">
                    <div class="img" style="background-image: url({% static team.imageUrl %})"></div>
                </div>
                <div class="text_block">
                    <h5 class="name">{{ team.name }}</h5>
                    <div class="attrs_container clearfix">
                        <label class="title">Attributes</label>
                        <label class="attr">Country {{ team.country }}</label>
                        <label class="attr">Sport type {{ team.sportType }}</label>
                        <label class="attr">Prize count {{ team.prizeCount }}</label>
                    </div>
                    <div class="desc_container">
                        <label class="title">Description</label>
                        <p class="desc">
                            {{ team.desc }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right_side clearfix">
            <div class="control_info_board" id="right_side_bar">
                <div class="list_users_block">
                    <h5 class="block_name">Users with us:</h5>
                    <div class="list_users_container" id="users_list_container">
                        <!-- {% for user in users %}
                            <label class="user_name">{{ user.username }}</label>
                        {% endfor %} -->
                    </div>
                </div>
               
                <div class="control clearfix">
                    <h5 class="block_name">Your status</h5>
                    <div class="status" status-val="{{ status }}" id="user_status" >Accepted</div>
                    <div id="change_status_button" class="anim">Change</div>
                </div>
              
            </div>
        </div>
    </div>
    
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'object/script.js' %}">
    </script>
{% endblock %}