.content{
    display: flex;
}

.reg_login_container{
    display: inline-block;
    position: relative;
    margin: auto;
}

.reg_login_container h1{
    display: block;
    font-size: 50px;
    font-weight: 0;
    text-align: center;
    margin-bottom: 50px;
}

.reg_login_container .reg_block,
.reg_login_container .login_block{
    display: block;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    width: 300px;
} 

.reg_login_container .reg_block .block_name,
.reg_login_container .login_block .block_name{
    display: block;
    position: relative;
    height: 50px;
    line-height: 50px;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
}

.reg_login_container .reg_block form,
.reg_login_container .login_block form{
    display: block;
    position: relative;
    box-shadow: 0 0 5px rgba(0,0,0,.15);
    padding: 20px;
    background: #fff;
}

.reg_login_container .reg_block form label,
.reg_login_container .login_block form label{
    display: block;
    position: relative;
    margin-bottom: 5px;
    font-weight: bold; 
}

.reg_login_container .reg_block form #reg_user,
.reg_login_container .login_block form #login_user{
    display: inline-block;
    position: relative;
    max-width: 100%;
    height: 50px;
    border: 1px solid #000;
    line-height: 48px;
    text-align: center;
    font-weight: bold;
    cursor: pointer; 
    padding-left: 20px;
    padding-right: 20px;
    float: right;
}

.reg_login_container .reg_block form #reg_user:hover,
.reg_login_container .login_block form #login_user:hover{
    background-color: #000;
    color: #fff;
}

.reg_login_container .reg_block form input,
.reg_login_container .login_block form input{
    display: block;
    width: 100%;
    position: relative;
    height: 40px;
    line-height: 40px;
    text-align: left;
    padding-left: 10px;
    border: 1px solid #000;
    margin-bottom: 20px;
    background: #000;
    color: #fff;
}

.reg_login_container .reg_block form input:focus,
.reg_login_container .login_block form input:focus{
    background: #fff;
    color: #000;
}












